/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* Montserrat Alternates Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #242121;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
